<configuration>
  <property name="LOG_LEVEL" value="INFO"/>
  <appender name="JSON_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="net.logstash.logback.encoder.LogstashEncoder">
      <customFields>{"app":"productivity-api"}</customFields>
      <includeMdcKeyNames>
        <includeMdcKeyName>X-Correlation-Id</includeMdcKeyName>
        <includeMdcKeyName>tenantId</includeMdcKeyName>
      </includeMdcKeyNames>
      <fieldNames>
        <timestamp>timestamp</timestamp>
        <level>level</level>
        <logger>logger</logger>
        <thread>thread</thread>
        <message>message</message>
        <mdc>mdc</mdc>
      </fieldNames>
    </encoder>
  </appender>

  <root level="${LOG_LEVEL}">
    <appender-ref ref="JSON_CONSOLE"/>
  </root>

  <included>
    <mdc>
      <mdcKey>X-Correlation-Id</mdcKey>
      <mdcKey>tenantId</mdcKey>
    </mdc>
  </included>
</configuration>
